html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

 

h1 {
    text-align: center;
    margin: auto;
    font-size: 30px;
   
  }

h2 {
    margin: auto;
    font-size: 20px;
   
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

    
body {
    
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    text-justify: inter-word;

    }
    
@media only screen and (max-width: 600px)  {...}