html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Lucida Console", sans-serif; /* this should be the rest of the output you got from Google Fonts */

    cursor: auto;
  }

  .bg {
    /* The image used */
    background-image: url("IMG_0067.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    text-align: center;
    margin: auto;
    font-size: 30px;
    background-color: black;
    color: white;
   
  }

h2 {
    margin: auto;
    font-size: 20px;
    color: #7393B3;

   
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #7393B3;


    

  }

    
body {

    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    text-justify: inter-word;
    cursor: auto;





    

    }

    img {

      max-width: 100%;

    
    }

    figure {
      float: center;
      justify-content:center;
   
   

  
    
      text-indent: 0;

      margin: 0.5em;
      padding: 0.5em;
    }
    img.scaled {
      max-width: 20%;
    
    }
    
@media only screen and (max-width: 600px)  {

  body {
    
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;


    p,
    li {
      font-size: 14px;
      line-height: 2;
      letter-spacing: 1px;
    }
  
  

    }


}