html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

 

h1 {
    margin: auto;
    font-size: 40px;
   
  }

h2 {
    margin: auto;
    font-size: 20px;
   
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

    
body {
    margin: 100px 500px 15px 500px;
    } 